<h2>how do you feel?</h2>

<p>Mood: {{ moodsNew.data.mood }}</p>
<img ng-src="{{ moodsNew.data.imageUrl }}" alt="">
<p>Playlist: {{ moodsNew.playlistName }}</p>
<hr>
<form name="moodNew.form" ng-submit="moodsNew.handleCreate()" novalidate>
  <input type="file" ng-model="moodsNew.data.imageUrl" upload-image />
  <button class="button is-info" ng-if="moodsNew.data.mood">Generate Playlist</button>
</form>


<iframe ng-if="moodsNew.playlistSrc" ng-src="{{ moodsNew.playlistSrc }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
