<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="is-size-1 has-text-weight-bold">Moodify</h1>
      <hr>
      <h2 class="is-size-4 has-text-weight-bold has-text-centered">Generate Spotify Playlists based on your mood</h2>
      <div class="main-buttons has-text-centered">
        <button class="button is-info is-size-5 has-text-weight-bold" ui-sref="login">Login</button>
        <button class="button inverse is-size-5 has-text-weight-bold" ui-sref="register">Register</button>
      </div>
    </div>
  </div>
</section>
