@import '~bulma/sass/utilities/initial-variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

$primary: red;
$card-background-color: $black;
$title-color: white;
$subtitle-color: white;
$title-size: $size-6;
$family-primary: 'Montserrat';

@import '~bulma';

html {
  background: linear-gradient(#373737, black);
  height: 100%;
}

body{
  color: white;
}

.is-horizontal-center {
  justify-content: center;
}

.navbar {
  background-color: #161616;
  border-bottom: grey 2px solid;
}

a.navbar-item {
  color: white;
}

a.navbar-item:hover {
  color: #0097F2;
  background-color: #181818;
}

.main-buttons {
  margin-top: 20px;
}

.main-buttons > button {
  color: black;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  margin-right: 20px;
}

.main-buttons > .is-info:hover{
  color: #0097F2;
  background-color: white;
  border: #0097F2 solid 2px;
}

.main-buttons > .inverse{
  color: #0097F2;
  background-color: white;
  border: #0097F2 solid 2px;
}

.main-buttons > .inverse:hover{
  color: white;
  background-color: #0097F2;
  border: white solid 2px;
}

.card-content{
    height:auto;
}

.card{
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.card-image {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card-content {
  height: 150px;
}

input {
  background: none;
}
@media screen and (max-width: 1087px) { //use of tablet from bulma

  .navbar-menu {
    background-color: #161616;
  }

  .navbar-item {
    border-top: 1px solid #373737;
  }
  .card-content{
      height:auto;
  }

  .card{
    padding: 20px;
    border-radius: 5px;
    color: white;
  }

  .card-image {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card-content {
    height: 150px;
  }

  h1{
    text-align: center;
    font-size: 25px;
  }
  navbar-brand{
    background-color: grey;
  }
  .column {
    padding: 20px;
  }
  .image.is-4by3 img {
    border-radius: 20px;
  }
}

@media screen and (max-width: $tablet){ //use of tablet from bulma

  .main-buttons > button {
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    margin-right: 20px;
    margin-top: 20px;
  }

}
}
