@import '~bulma/sass/utilities/initial-variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
//------------------------------------------------------------------------------
$primary: red;
$card-background-color: $black;
$title-color: white;
$subtitle-color: white;
$title-size: $size-6;
$family-primary: 'Montserrat';
$dimensions:16 24 32 48 64 96 128 420;
@import '~bulma';
//------------------------------------------------------------------------------

section.ng-scope {
    background: linear-gradient(#373737, black);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

.card-image {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.is-horizontal-center {
  justify-content: center;
}

.navbar {
  background-color: #161616;
  border-bottom: grey 2px solid;
}

a.navbar-item {
  color: white;
}

a.navbar-item:hover {
  color: #0097F2;
  background-color: #181818;
}

.main-buttons {
  margin-top: 20px;
}

.main-buttons > button {
  color: black;
  width: 200px;
  height: 50px;
  margin-right: 20px;
}

.main-buttons > .is-info:hover{
  color: #0097F2;
  background-color: white;
  border: #0097F2 solid 2px;
}

.main-buttons > .inverse{
  color: #0097F2;
  background-color: white;
  border: #0097F2 solid 2px;
}

.main-buttons > .inverse:hover{
  color: white;
  background-color: #0097F2;
  border: white solid 2px;
}

img {
  border-radius: 10px;
}

.input {
  background: none;
  color: white;
}

.input::placeholder {
  color: white;
}

.strike {
  height: 20px;
  border-bottom: 2px solid #373737;
  text-align: center;
}

.extra-top {
  margin-top: 70px;
}

#filestack {
  display: none;
}

#returned-image {
  padding-top: 0px;
}

.extra-space {
  margin: 7px 7px 7px 7px;
}

.footer{
  height: 100px;
  width: auto;
  background-color: #161616;
  box-shadow: 100vh 110vh 0 110vh #161616;
  // display: table-footer-group;
  // position: relative;
}
.footer:before, .footer:after {
    padding: 1em;
    content: '';
}

.notification {
  text-align: center;
  background-color: red;
  color: white;
  font-size: 18px;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  height: 60px;
}

.filler {
  height:200px;
}
@media screen and (max-width: 1087px) { //use of tablet from bulma
//------------------------------------------------------------------------------
section.ng-scope {
  height: 100%
}

  .navbar-menu {
    background-color: #161616;
  }

  .navbar-item {
    border-top: 1px solid #373737;
  }
  h1{
    text-align: center;
    font-size: 25px;
  }
  navbar-brand{
    background-color: grey;
  }
  .column {
    padding: 20px;
  }
  .image.is-4by3 img {
    border-radius: 20px;
  }
}
//------------------------------------------------------------------------------
@media screen and (max-width: $tablet){ //use of tablet from bulma
//------------------------------------------------------------------------------
  section.ng-scope {
    height: 100%;
  }

  .main-buttons > button {
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    margin-right: 20px;
    margin-top: 20px;
  }

}
