<div class="level">
  <div class="level-item has-text-centered">
    <img class="image is-64x64 is-pulled-right" src="./img/logo.svg" alt="">
    <h1 class="is-size-1 is-pulled-left has-text-weight-bold is-marginless">Moodify</h1>
  </div>
</div>



<div class="container extra-top"><!-- Start of container -->

  <!-- Spotify login section -->
  <div class="columns">
    <div class="column is-8 is-offset-2 is-mobile is-tablet">
      <div class="level">
        <div class="level-item has-text-centered">
          <button class="button is-success is-size-5 has-text-weight-bold is-rounded" ng-click="login.authenticate('spotify')">
            <img src="./img/spotify.svg" width="25px" height="25px"/>
          Login with Spotify</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Spotify login section -->

  <!-- Hr OR section -->
  <div class="columns is-mobile is-tablet">
    <div class="column strike is-3 is-offset-2">
    </div>
    <div class="column is-2 has-text-centered">
      <h3 class="is-size-5">OR</h3>
    </div>
    <div class="column strike is-3">
    </div>
  </div>
  <!-- End of Hr Or section -->


  <!-- Start of form section -->
  <div class="columns is-mobile is-tablet">
    <div class="column is-8 is-offset-2">
      <form name="login.form" ng-submit="login.handleLogin()" novalidate>
        <div class="field">
          <label for="email">Email</label>
          <input class="input" placeholder="Email" name="email" ng-model="login.data.email" required/>
          <div ng-messages="login.form.email.$error" ng-if="login.form.email.$dirty || login.form.$submitted">
         <div ng-message="required">Please fill in your email</div>
       </div>
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" class="input" placeholder="Password" name="password" ng-model="login.data.password" required/>
          <div ng-messages="login.form.password.$error" ng-if="login.form.password.$dirty || login.form.$submitted">
         <div ng-message="required">Please fill in your password</div>
       </div>
        </div>
        <div class="main-buttons has-text-centered">
          <button class="button is-info is-size-5 has-text-weight-bold is-rounded">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <!-- End of form section -->

</div> <!-- End of container -->
