<!-- Start of logo -->
<div class="level">
  <div class="level-item has-text-centered">
    <img class="image is-64x64 is-pulled-right" src="./img/logo.svg" alt="">
    <h1 class="is-size-1 is-pulled-left has-text-weight-bold is-marginless">Moodify</h1>
  </div>
</div>
<!-- End of logo -->

<!-- Start of cards -->
<div class="columns is-multiline">
  <div ng-repeat="user in userIndex.all"class="column is-one-quarter-desktop is-half-tablet">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ user.profile}}" alt="">
        </figure>
      </div>
      <footer class="card-footer">
          <a class="card-footer-item is-size-5 is-capitalized has-text-weight-semibold" ui-sref="usersShow({ id: user._id})">
            {{user.username}}
          </a>
      </footer>
    </div>
  </div>
</div>
<!-- End of cards -->
