<h1>USER SHOW</h1>
<div class="card">
  <div class="card-image" style="background-image: url({{ UsersShow.User.profile}})">
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <div class="text-wrapper">
        <p class="title is-5" >{{UsersShow.User.username}}
        <p class="subtitle is-6">{{UsersShow.User.bio}}
        <a ui-sref="usersEdit({ id: UsersShow.User._id })" class="button is-primary" ng-show="UsersShow.isCurrentUser()">Edit</a>
        </div>
      </div>
      <button ng-click="UsersShow.buttonDelete()" ng-show="UsersShow.isCurrentUser()">Delete</button>
      <!-- -->
    </div>
  </div>
</div>
